svg.map {
   /*background-color: lightblue;*/
   width: 100%;
   height: 100vh;
}

#container {
    margin:2%;
    padding:20px;
  }


path.back {
  stroke: lightgray;
  stroke-width: 1px;

}

/*.boro {
  stroke: lightgray;
  fill-opacity:0;
  stroke-width: 2px;
}
*/

.tract {
  stroke: lightgrey;
  stroke-width: .5px;
  fill-opacity: 1;
}


.tract:hover {
  stroke: white;
  fill-opacity:1;
  stroke-width: 2px;
}


.ht {
  stroke: white;
  fill-opacity:0.5;
}


p#histtitle {
  font: 700 7px Lato;
  text-align: left;
  color:black;
}

h1#title{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #2e2e2e;
  font-size: 40px;
  font-weight: 300;
  text-anchor: left;
  position: fixed;
  top: 0px;
  left: 15px;

}




.rButton{
  margin-right: 10px;
}
#formDiv {
  position: fixed;
  top: 90px;
  left: 13px;
}


text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  pointer-events: none;
  color:black;
}

.header{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
}


/* RIGHT SIDE CSS*/

#infocolumn {
  padding-top:60px;
  border-width: 0px;
  border-left: 1px;
  border-style: solid;
  border-color: black;
  height:100vh;
  background-color:lightgrey;
  position:relative;
}

/* Large desktop */
@media (min-width: 1200px) {
#infocolumn {width:450px !important;}

.col-sm-8 {
  width: calc(100% - 450px) !important;
}


 }

div.chart-wrapper {
  border-width: 0px;
  border-bottom: 1px;
  border-style: solid;
  border-color: black;
}

div#infocard{
  border-width: 0px;
}

div.chart-title{
  margin-top: 10px;
}

div #modeselector {
  height:50px;
  width:100%;
}


/*
#partition {
  padding-top:5px;
}*/

#stats {
  padding-top:5px;
}


#infocard {
  margin-top:5px;
  width:100%;

}

.chart-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:10px;
  font-weight: bold;
}


/*p.tooltip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    pointer-events: none;
}*/
/*
td, th {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
}*/


table.fixed {
    width: 100%;
    table-layout: fixed;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}


table.fixed {table-layout:fixed; width:100%; margin-top:5px}/*Setting the table width is important!*/
table.fixed td {overflow:hidden;}/*Hide text outside the cell.*/
table.fixed:nth-of-type(1) {text-overflow: ellipsis; white-space: nowrap;overflow: hidden; }
table.fixed td:nth-of-type(2) {text-align:right; font-weight: bold;}


.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:flex-start;
  flex-wrap:wrap;
  align-content:stretch;
}

.btn-primary {
  color: #ddd;
  background-color: #232323;
  border-color: #4a4e51;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #4a4e51;
  border-color: #5b5b5b;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] {
  color: #ffffff;
  background-color: #72787c;
  border-color: #4a4e51;
}

canvas{
  pointer-events:none;
}
