/*body {
  fill: rgb(237, 255, 248);
}*/

svg.map {
   /*background-color: lightblue;*/
   width: 100%;
   height: 100vh;
}

#container {
    margin:2%;
    padding:20px;
  }


path.back {
  stroke: lightgray;
	stroke-width: 1px;
	/*fill: rgb(237, 255, 248);  //rgb(237, 255, 248);*/

}

.boro {
  stroke: lightgray;
  fill-opacity:0;
	stroke-width: 2px;
}


.tract {
  stroke: lightgrey;
  stroke-width: .5px;
  fill-opacity: 1;
}


.tract:hover {
  stroke: gray;
  fill-opacity:1;
  stroke-width: 1px;
  fill: rgb(34, 157, 224);
}


.ht {
  stroke: white;
  fill-opacity:0.5;
}


.park {
	stroke-width: 0px;
  fill: rgb(173, 216, 138);
}

p#histtitle {
  font: 700 7px Lato;
  text-align: left;
}

h1#title{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #2e2e2e;
  font-size: 40px;
  font-weight: 300;
  text-anchor: left;
  position: fixed;
  top: 0px;
  left: 15px;

}




.rButton{
  margin-right: 10px;
}
#formDiv {
  position: fixed;
  top: 90px;
  left: 13px;
}


text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  pointer-events: none;
}

.header{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
}


/* RIGHT SIDE CSS*/

#infocolumn {
  padding-top:75px;
  border-width: 0px;
  border-left: 1px;
  border-style: solid;
  border-color: black;
  height:100vh;
  background-color:lightgrey;
  position:relative;

}


div.chart-wrapper {
  border-width: 0px;
  border-bottom: 1px;
  border-style: solid;
  border-color: black;
}


div.chart-title{
  margin-top: 10px;
}

div #modeselector {
  height:10vh;
  max-height: 100px;
  width:100%;
}



#partition {
  padding-top:5px;
}

#stats {
  padding-top:5px;
  height:67vh;
}

 
#infocard {
  padding-top:5px;
  height:15vh;
  max-height: 150px; 
  height:20vh;
  width:100%;
  bottom:0;

}

#download_section {
  position:absolute; 
  height: 5vh;
  max-height: 50px;
  width:100%;
  bottom:0;
  border-bottom: 0px !important;
}

#download {
  padding-top:5px;
  height:5vh;
  left: 50%;

}

.chart-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:10px;
  font-weight: bold;
}


p.tooltip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*pointer-events: none;*/
}

td, th {
    /*padding: 1px 4px;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

table.fixed {table-layout:fixed; width:100%; margin-top:5px}/*Setting the table width is important!*/
table.fixed td {overflow:hidden;}/*Hide text outside the cell.*/
table.fixed td:nth-of-type(1) {width:100px;}/*Setting the width of column 1.*/
table.fixed td:nth-of-type(2) {text-align:right; font-weight: bold;}/*Setting the width of column 2.*/


/* button */
.button {

  text-transform: uppercase;
  padding-bottom: 6px;
  font: 700 12px Lato;
  text-align: center;
}

.button>a {
    padding: 13px 26px;
    min-width: 90px;
    background: #373931;
    display: inline-block;
    padding: 13px;
    min-width: 140px;
    border-radius: 50px;
    color: #A1A4A4;
    text-decoration: none;
    transition: background .3s;
    .button--blue a:
}

.button a:hover{background:#7A7A77}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:flex-start;
  flex-wrap:wrap;
  align-content:stretch;
}

form#viz_mode {
  margin-left: 10px;
}