/*body {
  fill: rgb(237, 255, 248);
}*/

svg.map {
   /*background-color: lightblue;*/
   width: 100%;
   height: 100vh;
}

#container {
    margin:2%;
    padding:20px;
  }


path.back {
  stroke: lightgray;
	stroke-width: 1px;
	/*fill: rgb(237, 255, 248);  //rgb(237, 255, 248);*/

}

.boro {
  stroke: lightgray;
  fill-opacity:0;
	stroke-width: 2px;
}


.tract {
  stroke: lightgrey;
  stroke-width: .5px;
  fill-opacity: .8;
}


.tract:hover {
  stroke: gray;
  fill-opacity:1;
  stroke-width: 1px;
  fill: rgb(34, 157, 224);
}


.ht {
  stroke: white;
  fill-opacity:0.5;
}


.park {
	stroke-width: 0px;
  fill: rgb(173, 216, 138);
}



h1#title{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #2e2e2e;
  font-size: 40px;
  font-weight: 300;
  text-anchor: left;
  position: fixed;
  top: 0px;
  left: 15px;

}




.rButton{
  margin-right: 10px;
}
#formDiv {
  position: fixed;
  top: 90px;
  left: 13px;
}


text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  pointer-events: none;
}

.header{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
}


/* RIGHT SIDE CSS*/

#infocolumn {
  padding-top:55px;
  border-width: 0px;
  border-left: 1px;
  border-style: solid;
  border-color: black;
  height:100vh;
  background-color:lightgrey;

}
  
#infocard {
  padding-top:5px;
  height:30vh;
  width:100%;
  border-width: 0px;
  border-bottom: 1px;
  border-style: solid;
  border-color: black;
}

#stats {
  padding-top:5px;
  height:40vh;
  border-width: 0px;
  border-bottom: 1px;
  border-style: solid;
  border-color: black;
}

#download {
  padding-top:5px;
  height:5vh;
}

.chart-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:10px;
  font-weight: bold;
}


p.tooltip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*pointer-events: none;*/
}

td, th {
    /*padding: 1px 4px;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

table.fixed {table-layout:fixed; width:100%; margin-top:5px}/*Setting the table width is important!*/
table.fixed td {overflow:hidden;}/*Hide text outside the cell.*/
table.fixed td:nth-of-type(1) {width:100px;}/*Setting the width of column 1.*/
table.fixed td:nth-of-type(2) {text-align:right; font-weight: bold;}/*Setting the width of column 2.*/


/* AXIS CSS */
.axis path {
      display: none;}


.axis2 line, .axis2 path {
            fill: none;
            stroke: #a8a6a6;
            stroke-width: 1px;
            shape-rendering: crispEdges;
        }

.y.axis2 path {
      display: none;}


.axis2 text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 6px;
  pointer-events: none;
        }

.plotline {
  fill: none;
  stroke: #a8a6a6;
}

.mainline {
  fill: none;
  stroke: #4ec677;
  stroke-width: 5px;
}

.averageline {
  fill: none;
  stroke: #000000;
  stroke-width: .5px;
}

#DistrictLegend {
  fill: #4ec677;

}
